// Colors

$primary-color: #2e86ab;
$secondary-color: #bc4749;

$primary-color-hover: #369bc5;

$yellow-text: #bd9120;
$yellow-background: #fff6df;

$red-text: #ed6a5a;
$red-background: #fff8f8;

$blue-text: #1f66d1;
$blue-background: #e5f0ff;

$green-color: #5eb1bf;

$orange-color: #edae49;

// Text colors

$black: #272932;
$gray: #95969b;
$light-gray: #dadada;

// Font size

$text-xl: 22px;
$text-lg: 18px;
$text-base: 16px;
$text-xs: 14px;
